.idea
.vscode
.pytest_cache/
venv/
/.tmp/

*.pyc
_pycache_
*/.DS_Store
.DS_Store
.sqlite.db
taiko_results_l*.json
taiko/.env
.env*
sui/frenemies/mnemonics.txt
sui/frenemies/wallets.csv
sui/sui-mint-testnet-2/wallets.txt
